<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.proyecto_frutas">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo_manzana"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_manzana_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto2"
        tools:targetApi="31">

        <activity
            android:name=".tiempo.MainActivity_Tiempo_Nivel1"
            android:configChanges="orientation|screenSize"
            android:exported="false" />

        <activity
            android:name=".tradicional.MainActivity_Nivel8"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".tradicional.MainActivity_Nivel7"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".tradicional.MainActivity_Nivel6"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".tradicional.MainActivity_Nivel5"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".tradicional.MainActivity_Nivel4"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".tradicional.MainActivity_Nivel3"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".tradicional.MainActivity_Nivel2"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".tradicional.MainActivity_Nivel1"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.FruitGameSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>